<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="{{ asset('bundles/app/css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/slider.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

</head>

<body>
<div class="row">
    <div class="col-md-6">
        <h1>Noblesceaux</h1>
    </div>
    <div class="col-md-6">

        {% if error %}
            <div class="alert alert-danger alert-error">{{ error|trans({}, 'FOSUserBundle') }}</div>
        {% endif %}

        <form action="{{ path("fos_user_security_check") }}" method="post" role="form" class="form-horizontal">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

            <label for="username">
                {{ 'security.login.username'|trans({}, 'FOSUserBundle') }}
            </label>

            <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" />


            <label for="password">
                {{ 'security.login.password'|trans({}, 'FOSUserBundle') }}
            </label>

            <input type="password" class="form-control" id="password" name="_password" />



            <div class="checkbox control-group">
                <label for="remember_me">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                    {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                </label>
            </div>

            <a href="{{ path('fos_user_resetting_request') }}">{{ 'forgotten_password'|trans({}, 'SonataUserBundle') }}</a>

            <input type="submit" id="_submit" name="_submit" class="btn btn-primary" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}">
            <a href="{{ path('sonata_user_registration_register') }}">
                <button type="button" class="btn">s'enregistrer</button>
            </a>

        </form>
    </div>
</div>

<div class="presentation">
    <p> bla bla bla une petite démo après la présentation </p>
</div>


<!-- Slider -->
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">blablabla</div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>
        <div class="swiper-slide">Slide 4</div>
        <div class="swiper-slide">Slide 5</div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>


<script src="{{ asset('bundles/app/css/slide.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

</body>
</html>
